@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mint: #9CFC97;
    --black: #090302;
    --orange: #ff6b00;
    --white: #ffffff;
}

*,*::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
    background: var(--black);
    font-family: "Young Serif";
}


body{
    overflow-x: hidden;
}



::-webkit-scrollbar{
    background-color: var(--black);
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--orange);
    border-radius: 20px;
}

.box {
    width: 40px;
    height: 100px;
    background: transparent;
    border: 2px solid var(--orange);
    border-radius: 60px;
    position: relative;
  }
  .circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--white);
    inset: 0;
    margin : auto;
  }
  