@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightblue: #3bcaff;
  --lightpink: #f556f9;
  --lightorange: #ffa555;
  --darkblue: #010112;
  --torq: #32d0ff;
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--darkblue);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: whitesmoke;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.span1 {
  color: var(--torq);
}

.bg-lg {
  background: linear-gradient(
    to right,
    var(--lightorange),
    var(--lightpink),
    var(--torq)
  );
  -webkit-background-clip: text;

  background-clip: text;
}
.skills {
  font-weight: 600;
  background: linear-gradient(
    to right,
    var(--lightorange),
    var(--lightpink),
    var(--torq)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.custom-line-gap {
  line-height: 2;
}

.skillhub {
  font-size: large;
  font-weight: bold;
  background: linear-gradient(
    to right,
    var(--lightorange),
    var(--lightpink),
    var(--torq)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
